.ztree li span.button.test_ico_docu {
	margin-right:2px; 
	background: url(../images/test.gif) no-repeat scroll 0 0 transparent; 
	vertical-align:top; 
	*vertical-align:middle
}
.ztree li span.button.testSuite_ico_open, .ztree li span.button.testSuite_ico_close{
	margin-right:2px; 
	background: url(../images/tsuite.gif) no-repeat scroll 0 0 transparent; 
	vertical-align:top; 
	*vertical-align:middle
}
.ztree li span.button.testFailed_ico_docu {
	margin-right:2px; 
	background: url(../images/testfail.gif) no-repeat scroll 0 0 transparent; 
	vertical-align:top; 
	*vertical-align:middle
}
.ztree li span.button.testError_ico_docu {
	margin-right:2px; 
	background: url(../images/testerr.gif) no-repeat scroll 0 0 transparent; 
	vertical-align:top; 
	*vertical-align:middle
}
.ztree li span.button.testIgnored_ico_docu {
	margin-right:2px; 
	background: url(../images/testignored.gif) no-repeat scroll 0 0 transparent; 
	vertical-align:top; 
	*vertical-align:middle
}
.ztree li span.button.testPassed_ico_docu {
	margin-right:2px; 
	background: url(../images/testok.gif) no-repeat scroll 0 0 transparent; 
	vertical-align:top; 
	*vertical-align:middle
}
.ztree li span.button.testRun_ico_docu {
	margin-right:2px; 
	background: url(../images/testrun.gif) no-repeat scroll 0 0 transparent; 
	vertical-align:top; 
	*vertical-align:middle
}
.ztree li span.button.testSuiteRun_ico_open, .ztree li span.button.testSuiteRun_ico_close{
	margin-right:2px; 
	background: url(../images/tsuiterun.gif) no-repeat scroll 0 0 transparent; 
	vertical-align:top; 
	*vertical-align:middle
}
.ztree li span.button.testSuiteFailed_ico_open, .ztree li span.button.testSuiteFailed_ico_close{
	margin-right:2px; 
	background: url(../images/tsuitefail.gif) no-repeat scroll 0 0 transparent; 
	vertical-align:top; 
	*vertical-align:middle
}
.ztree li span.button.testSuitePassed_ico_open, .ztree li span.button.testSuitePassed_ico_close{
	margin-right:2px; 
	background: url(../images/tsuiteok.gif) no-repeat scroll 0 0 transparent; 
	vertical-align:top; 
	*vertical-align:middle
}

.testpanel .stat {
size: 10 px;
border: 1px solid;
padding: 2px;
margin-right:30px;
display:inline-block;
min-width:50px
}

.testpanel > fieldset {
	border: thin solid silver;
	background-color:#F0F0F0;
	padding:1em;
	margin:1em;
}

.testpanel > fieldset > fieldset {
	border: thin solid silver;
	background-color:#F0F0F0;
	padding:1em;
	margin:1em;
}

.testpanel > fieldset > fieldset p {
	margin:0 1em;
}

.testpanel > fieldset > legend {
	padding: 4px 15px 4px 25px;
  	font-size:90%;
  	text-align:left;
  	background-image:url(../images/junit.gif);
  	background-color:#F0F0F0;
  	background-repeat:no-repeat;
  	background-position: top left;
	border:1px solid silver;
	border-radius:8px;
}
.testpanel > fieldset > legend.successSuite {
	background-image:url(../images/junitsucc.gif);
}
.testpanel > fieldset > legend.errorSuite {
	background-image:url(../images/juniterr.gif);
}

.stacktrace div { 
	white-space:pre;
}

.scrollLock {
	font-size : 0.8em;
}
.scrollLock+label > span.ui-icon {
	background-image: url(../images/lock.gif);
	background-position: top left;
}
.scrollLock+label > span.ui-button-text {
	margin-left:5px;
	font-size : 0.8em;	
}
div.ztree, .stacktrace {
	margin : 10px 10px 10px 10px;
	padding : 10px 10px 10px 10px;
	border: 1px solid #617775;
	width : 45%;
	height:360px;
	overflow-y:scroll;
	overflow-x:auto;
	float: left;
}

div.ztree {
	background: #f0f6e4;
}

.stacktrace {
	background: white;
}
.testElapsedTime {
	color : #99CCFF;
}